.game-button {
    text-align: center;
    margin: 20px;
    padding: 10px;
    text-decoration: none;
    color: #525252;
    font-family: 'Bauhaus 93';
    font-size: 40px;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px;
    transition: 0.5s;
    background-color: darkgray;
    outline: none;
}

.game-button:hover {
    box-shadow: 0 0 5px 5px;
    transform: scale(1.05);
    cursor: pointer;
}

.game-button:active {
    transform: scale(0.95);
}